.upload {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(95, 27, 163);
}

.uploadtext {
    position: relative;
    flex: 1;
    margin: 30px;
    font-size: x-large;
    left: 120px;
    color: white;
}
.uploadFilm{
    font-size: 4.5rem;
    color: white;
    display: grid;
    grid-gap: 40px;
    left: 500px;
    position: absolute;
    
}
.uploadNow{
    background-color: rgb(57, 4, 110);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 120px;
    cursor: pointer;
}
.howWork{
    background-color: rgb(57, 4, 110);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 120px;
    cursor: pointer;
}

@media screen and (max-width:700px) {
    .c-row {
        flex-direction: column;
        height: 100%;
    }

    .c-col{
        width: 280px;
        height: auto;
        flex: unset;
        margin: 20px 0;
    }
}